<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsoluations.vavisa.darhaa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.itsoluations.vavisa.darhaa.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.itsoluations.vavisa.darhaa.fargments.SubCartegory"
            android:theme="@style/fragmentHeader"/>
        <activity
            android:name="com.itsoluations.vavisa.darhaa.payment.paymentResult.PaymentResult"
            android:theme="@style/fragmentHeader" />
        <activity android:name="com.itsoluations.vavisa.darhaa.payment.PaymentPage" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.payment.PaymentMethod"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.itsoluations.vavisa.darhaa.payment.BillingAddress"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.payment.ShippingAddress"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.payment.Checkout"
            android:theme="@style/fragmentHeader"/>
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.ChangePassword"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.EditProfile"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.ForgetPassword"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityWithBGImageBackground"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itsoluations.vavisa.darhaa.ChooseLanguage"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityWithBGImageBackground" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.RegisterLogin"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityWithBGImageBackground" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.Login"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.Register"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.Addresses"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.Orders"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.Language"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.Terms"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.view_setting.Sort"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.view_setting.Filter"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.CategoryProducts"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.Product"
            android:theme="@style/transparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.Cart"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.OrderDetails"
            android:theme="@style/fragmentHeader" />
        <activity
            android:name="com.itsoluations.vavisa.darhaa.profile_fragments.AddAddress"
            android:theme="@style/fragmentHeader"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54cc6074b05a01d36002627727aa0c29a5022a6c" />
    </application>

</manifest>